appdirs==1.4.4
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
csv2es==1.0.1
cycler==0.10.0
decorator==4.4.2
Django==2.2.4
elasticsearch==1.4.0
Flask==1.1.2
idna==2.10
image==1.5.27
imagecodecs==2020.2.18
imageio==2.8.0
itsdangerous==1.1.0
jieba==0.42.1
Jinja2==2.11.2
joblib==0.8.4
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
networkx==2.4
numpy==1.17.0
opencv-contrib-python==4.1.2.30
opencv-python==4.2.0.34
Pillow==6.1.0
pyee==7.0.2
pyelasticsearch==1.2.3
PyMySQL==0.10.0
pyparsing==2.4.7
pyppeteer==0.2.2
python-dateutil==2.8.1
pytz==2019.2
PyWavelets==1.1.1
requests==2.24.0
retrying==1.3.3
scikit-image==0.17.2
scipy==1.3.1
selenium==3.141.0
simplejson==3.6.5
six==1.9.0
soupsieve==2.0.1
sqlparse==0.3.0
tifffile==2020.5.11
tqdm==4.48.2
urllib3==1.25.10
websockets==8.1
Werkzeug==1.0.1
appdirs==1.4.4
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
csv2es==1.0.1
cycler==0.10.0
decorator==4.4.2
Django==2.2.4
elasticsearch==1.4.0
Flask==1.1.2
idna==2.10
image==1.5.27
imagecodecs==2020.2.18
imageio==2.8.0
itsdangerous==1.1.0
jieba==0.42.1
Jinja2==2.11.2
joblib==0.8.4
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
networkx==2.4
numpy==1.17.0
opencv-contrib-python==4.1.2.30
opencv-python==4.2.0.34
Pillow==6.1.0
pyee==7.0.2
pyelasticsearch==1.2.3
PyMySQL==0.10.0
pyparsing==2.4.7
pyppeteer==0.2.2
python-dateutil==2.8.1
pytz==2019.2
PyWavelets==1.1.1
requests==2.24.0
retrying==1.3.3
scikit-image==0.17.2
scipy==1.3.1
selenium==3.141.0
simplejson==3.6.5
six==1.9.0
soupsieve==2.0.1
sqlparse==0.3.0
tifffile==2020.5.11
tqdm==4.48.2
urllib3==1.25.10
websockets==8.1
Werkzeug==1.0.1
